fieldset { 
    border:1px solid #3c8dbc;
    padding-left: 5px;
    padding-right: 5px;
}

legend.custom {
  padding: 0.2em 0.2em;
  border:1px solid #3c8dbc;
  color:#3c8dbc;
  font-size:12px;
  text-align:center;
  margin-left: 5px;
  width: 50%;
}